@font-face {
  font-family: "GoldenYouthScript";
  src: url('fonts/GoldenYouthScript-Regular.otf') format('opentype');
}
/* line 106, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}
